body {
    font-family: 'Montserrat', sans-serif;
}

/* header {
    height: 156px;
    width: 1170px;
} */

.separator {
    width: 55px;
    height: 2px;
    margin: auto;
}

h1 {
    font-size: 37px;
}

.logo {
    font-size: 24px;
}

.bg-theme {
    background-color: #ffe1bd;
}

.cta {
    background-color: #000000;
    color: #ffffff;
    font-size: 18px;
    padding: 20px 30px;
}

.cta-light {
    border: 1px solid #d8d8d8;
}

.slider {
    max-width: 1140px;
    max-height: 520px;
}