body {
    font-family: 'Montserrat', sans-serif;
        overflow-x: hidden;
        width: 100%;
}

h2 {
    font-size: 45px;
}

h1, h2, h3 {
    color: #000000;
}

.separator {
    width: 55px;
    height: 2px;
    background-color: #000000;
    color: #000000;
    opacity: 1;
    margin-top: 25px;
    margin-bottom: 25px;
}

.separator-right {
    width: 55px;
    height: 2px;
    background-color: #000000;
    margin-left: calc(100% - 55px);
    margin-top: 25px;
    margin-bottom: 25px;
}

.wwd-separator {
    width: 55px;
    height: 2px;
    background-color: #000000;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

@media only screen and (min-width: 768px) {
    .wwd-separator {
       margin-right: calc(100% - 55px);
    }
  }

h1 {
    font-size: 37px;
}

.logo {
    line-height: 32px;
    font-size: 24px;
    color: #000000;
}

.nav-link {
    font-size: 14px;
    color: #989898;
}

.nav-item:last-child .nav-link {
    margin-right: 0;
}

.bg-theme {
    background-color: #ffe1bd;
}

.menu-theme {
    display: inline-block;
    position: relative;
    padding: 8px 0px 8px 0px !important;
    margin-right: 30px;
}

.menu-theme:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    
}

.menu-theme:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

img {
    max-width: 100%;
}

.featured {
    min-height: 520px;
}


.carousel-indicators [data-bs-target] {
    width: 13px;
    height: 13px;
    border: 1px solid #000000;
    border-radius: 100%;
    background-color: transparent;
    opacity: 1;
}

.carousel-indicators .active {
    background-color: #000000;
    opacity: 1;
}

.side {
    top: 40%;
    right: 29px;
    bottom: 40%;
    margin: 0;
    display: inline-grid;
    justify-content: end;
}

.carousel-control-prev-icon {
    background-image: url(../img/arrow-left.png);
    width: 28px;
    height: 54px;
}

.carousel-control-next-icon {
    background-image: url(../img/arrow-right.png);
    width: 28px;
    height: 54px;
}

.cta {
    background-color: #000000;
    color: #ffffff;
    font-size: 14px;
    padding: 16px 30px;
}

.cta:hover {
   background-color: #ffcb93;
   border-color: #ffcb93;
}

.cta-light {
    border: 1px solid #d8d8d8;
    font-size: 14px;
    padding: 16px 30px;
}

.cta-white {
    background-color: #ffffff;
    color: #000000;
    font-size: 14px;
    padding: 16px 30px;
}

.cta-white:hover {
    background-color: #ffcb93;
    border-color: #ffcb93;
}

.slider {
    max-width: 1140px;
    max-height: 520px;
}

.container-xl {
    max-width: 1148px;
}

.bestWork-container .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 28px;
}

.bestWork-container .grid-container .grid-item {
    position: relative;
}

.bestWork-container .grid-container .grid-item .image-text.square-img {
    top: 7%;
    bottom: 7%;
    left: 7%;
    right: 7%;
}

.bestWork-container .grid-container .grid-item .image-text.rect-img {
    top: 35%;
    bottom: 7%;
    left: 7%;
    right: 7%;
}

.bestWork-container .grid-container .grid-item:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.bestWork-container .grid-container .grid-item:nth-child(2) {
    grid-column: 1 / 2;
    grid-row: 3 / last-line;
}

.bestWork-container .grid-container .grid-item:nth-child(3) {
    grid-column: 2/3;
    grid-row: 1/ 4;
}

.bestWork-container .grid-container .grid-item:nth-child(4) {
    grid-column: 2/3;
    grid-row: 4 / last-line;
}

.bestWork-container .grid-container .grid-item:nth-child(5) {
    grid-column: 3/4;
    grid-row: 1/ 3;
}

.bestWork-container .grid-container .grid-item:nth-child(6) {
    grid-column: 3/4;
    grid-row: 3 / last-line;
}

.bestWork-container .grid-container .grid-item img {
    height: 100%;
    object-fit: cover;
}

.bestWork-container .grid-container .grid-item .image-text {
    position: absolute;
    background-color: #ffe1bd;
    visibility: hidden;
}

.bestWork-container .grid-container .grid-item:hover .image-text {
    visibility: visible;
    padding: 20%;
}

@media only screen and (max-width: 965px) {
    .bestWork-container .grid-container .grid-item:hover .image-text {
       padding: 10%;
    }
}

@media only screen and (max-width: 700px) {
    .bestWork-container .grid-container .grid-item:hover .image-text .separator {
       margin-top: 10px;
       margin-bottom: 10px;
    }
}

@media only screen and (max-width: 600px) {
    .bestWork-container .grid-container .grid-item:hover .image-text .separator {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .bestWork-container .grid-container .grid-item:hover .image-text .fs-1 {
        font-size: 16px !important;
    }

    .bestWork-container .grid-container .grid-item:hover .image-text p {
        font-size: 14px !important;
    }

    .bestWork-container .grid-container .grid-item:hover .image-text {
        padding: 5%;
    }
}

.input-style {
    border: none;
    border-bottom: 1px solid #333333;
}

.link-theme {
    text-decoration: none;
    display: inline-block;
}

.link-theme:hover h3 {
    color: #ffcb93;
}

.social-bg {
    background-color: #ffffff;
    border-radius: 50%;
    min-width: 40px;
    min-height: 40px;
}

.social-bg:hover {
    background-color: #ffe1bd;
}

.hidding-form {
    display: none;
}